body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
  
}

header, footer {
    background: rgba(255, 255, 255, 0.2);
    z-index: 1;
}

header {
    margin-bottom: 20px;
}

footer {
    background-color: #f8f9fa;
    border-top: 1px solid #e9ecef;
    padding: 20px;
    text-align: center;
    width: 100%;
    margin-top: auto;
    position: relative;
}

main {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 101%;
    height: 101%;
    background-image: url('/images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(2px);
    z-index: -1;
}

.content {
    z-index: 1;
    color: #fff;
}

footer p {
    margin: 0;
}

footer a {
    color: #007bff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.highlighted-heading-container {
    position: relative;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 
        0 0 20px rgba(0, 0, 0, 0.7),
        0 0 30px rgba(0, 0, 0, 0.5),
        0 0 40px rgba(0, 0, 0, 0.3);
}

.highlighted-heading-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    filter: blur(3px);
    z-index: -1;
}

/* Стили для контейнера с суши */
.sushi-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; /* Отступ между элементами */
    padding: 0 10px; /* Горизонтальный padding */
    box-sizing: border-box;
}

/* Стили для каждого элемента суши */
.sushi-item {
    position: relative;
    background-color: rgba(13, 13, 13, 0.5);
    border-radius: 8px; /* Радиус границы */
    box-shadow: 
        0 3px 6px rgba(0, 0, 0, 0.2),
        0 4px 8px rgba(0, 0, 0, 0.15); /* Тени */
    padding: 8px; /* Увеличенный padding */
    text-align: center;
    box-sizing: border-box;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: calc(25% - 10px); /* Ширина элемента для 4 колонок */
}

/* Стили для изображения суши */
.sushi-item img {
    width: 100%;
    height: auto;
    border-radius: 8px; /* Радиус границы */
    object-fit: cover;
    transition: transform 0.3s ease;
}

/* Стили для контейнера с ценой */
.price-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    position: relative;
    font-size: 1.1rem; /* Увеличенный размер шрифта для текста */
    transition: transform 0.3s ease;
}

/* Кнопка добавления товара */
.add-button {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 6px 12px; /* Увеличенный padding */
    font-size: 1.1rem; /* Увеличенный размер шрифта */
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    position: absolute;
    right: 8px; /* Уменьшенный отступ справа */
    bottom: 8px; /* Уменьшенный отступ снизу */
}

/* Эффекты при наведении */
.sushi-item:hover {
    transform: scale(1.03); /* Увеличение при наведении */
    box-shadow: 
        0 6px 12px rgba(0, 0, 0, 0.3),
        0 8px 16px rgba(0, 0, 0, 0.2); /* Увеличенные тени */
}

.sushi-item:hover img {
    transform: scale(1.03); /* Увеличение изображения при наведении */
}

.sushi-item:hover .price-container {
    transform: translateX(-8px); /* Сдвиг контейнера с ценой при наведении */
}

.sushi-item:hover .add-button {
    opacity: 1;
    transform: translateX(0);
}

/* Медиа-запросы для мобильных устройств */
@media (max-width: 768px) {
    .sushi-item {
        width: calc(50% - 10px); /* 2 колонки на мобильных устройствах */
    }
}

@media (max-width: 480px) {
    .sushi-item {
        width: calc(100% - 10px); /* 1 колонка на очень маленьких экранах */
    }
}


.cart-button-fixed {
    position: fixed;
    bottom: 100px; /* Отступ от нижнего края */
    right: 20px;  /* Отступ от правого края */
    z-index: 1050; /* Высокий z-index, чтобы кнопка была выше всего остального */
    width: 80px; /* Ширина кнопки */
    height: 80px; /* Высота кнопки */
    border-radius: 50%; /* Полное скругление для круглой формы */
    background-color: #01ff23; /* Ярко-зелёный цвет фона */
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: none; /* Убираем границу */
    cursor: pointer;
    display: flex; /* Используем Flexbox для центрирования содержимого */
    align-items: center; /* Вертикальное выравнивание иконки */
    justify-content: center; /* Горизонтальное выравнивание иконки */
    font-size: 2.5rem; /* Размер шрифта для иконки */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Плавные переходы для фона и тени */
}

.cart-button-fixed:hover {
    background-color: #00d100; /* Цвет фона при наведении */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Увеличение тени при наведении */
}



/* Стили для иконки внутри кнопки */
.cart-button-fixed i {
    font-size: 2.5rem; /* Размер шрифта для иконки */
    color: #fff;
}





/* Стили для модального окна, если нужны какие-то изменения */
.modal-content {
    border-radius: 0.5rem;
}

.modal-header {
    background-color: #006eff;
    color: #fff;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
}
